.ui-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.ui-panel {
  width: 260px;
  padding: 20px;
  background: #222;
  color: #fff;
}

.canvas-container {
  flex: 1;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
